{% extends "./base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Имя пользователя или пароль введены неверно.
            Попробуйте еще раз!
        </p>
    {% else %}
        <p>Пожалуйсиа, используйте эту форму для авторизации. Если вы не зарегистрированы, это можно сделать <a href="{% url 'account:register' %}">здесь</a></p>
    {% endif %}
    <div class="autorizationForm">
        <form action="{% url 'account:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit"  id="autorization__submitButton" value="Войти"></p>
        </form>
    </div>
{% endblock %}